{
	"extends": [
		"eslint:recommended", 
		"airbnb-base",
    "plugin:react/recommended"
	],
	"env": {
		"browser": true,
		"commonjs": true,
		"es2021": true,
		"mocha": true,
    "webextensions": true
	},
	"parserOptions": {
		"ecmaFeatures": {
      "jsx": true
    },
		"ecmaVersion": 12
	},
	"rules": {
    "import/extensions": "off"
  }
}
